* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --line-color: #333;
    --section-background: #f6f6f6;

    --bg-font: 3.7rem;
    --p-font: 0.9rem;
}


/* Start Components */
p {
    font-size: var(--p-font);
    color: var(--line-color);
    line-height: 2rem;
}

.spicial-heading {
    margin-bottom: 4rem; 
}
.spicial-heading h2 {
    color: #ebeced;
    font-size: clamp(4.5rem ,7vw + 1rem, 6.5rem);
    text-align: center;
    font-weight: 800;
    letter-spacing: -2px;
}
.spicial-heading p {
    font-size: 1.2rem;
    text-align: center;
    margin-top: -2.5rem;
    color: rgba(0, 0, 0, 0.777);
}

.center-btn {
    text-align: center;
    margin-top: 4rem;
} 
.btn {
    display: inline-block;
    background-color: var(--main-color);
    color: white;
    padding: 15px 30px;
    font-weight: 500;
    transition: 0.4s;
}
.btn:hover {
    scale: 1.1;
}

/* Start Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 4rem;
}

header .links {
    position: relative;
}

header .links .icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 2rem;
    cursor: pointer;
    z-index: 1000;
}

header .links .icon span {
    background-color: var(--line-color);
    height: 2px;
    margin-bottom: 5px;
}

header .links .icon span:first-child,
header .links .icon span:last-child {
    width: 100%;
}
header .links .icon span:nth-child(2) {
    width: 70%;
    transition: 0.3s;
}
header .links:hover span:nth-child(2){
    width: 100%;
}

header .links ul {
    position: absolute;
    background-color: var(--section-background);
    right: 0;
    top: calc(100% + 15px);
    min-width: 200px; 
    z-index: 10001;
    display: none;
}
header .links ul::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 1rem;
    border-color: transparent transparent var(--section-background);
    top: -2rem;
    right: 2px;
}
header .links:hover ul {
    display: block;
}

header .links ul a {
    display: block;
    padding: 15px;
    white-space: nowrap;
    color: var(--line-color);
    transition: 0.3s;
    font-weight: 400;
}

header .links ul li a:hover {
    color: var(--main-color);
    padding-left: 25px;
    border-bottom: 1px solid var(--line-color);
}


/* Start Landing */
.landing {
    background-image: url(../img/mautian-photo.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.landing .landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    text-align: center;
}

.landing .landing-text h1 {
    color: var(--main-color);
    text-align: center;
    font-size: var(--bg-font);
    white-space: nowrap;
    margin-bottom: 1rem;
    letter-spacing: -2px;
}


/* Start Feature */
.feature {
    background-color: var(--section-background);
    text-align: center;
}
.feature .feature-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
}

.feature i {
    color: var(--main-color);
    font-size: 2rem;
    margin: 15px;
}

.feature h3 {
    font-weight: 800;
    margin: 15px 0 20px;
}

.feature p {
    text-transform: capitalize;
}


/* Start Services */
.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    gap: 2rem;
    align-items: center;
}

.services .services-content .img {
    position: relative;
    text-align: center;
}
.services .services-content .img::after {
    content: '';
    position: absolute;
    width: 80px;
    height: calc(100% + 4rem);
    background-color: var(--secondary-color);
    top: -2rem;
    right: 0;
    z-index: -1;
}
    
.services .services-content img {
    width: 200px;
    height: 260px;
}

.services .services-content .service {
    display: flex; 
    margin-bottom: 2rem;
}

.services .services-content i {
    display: inline-block;
    color: var(--main-color);
    font-size: 2rem;
    margin: 0 20px 20px;
}

.services .services-content h3 {
    margin-bottom: 1.5rem;
}

.services .services-content p {
    font-weight: 300;
}

.services .services-content .img {
    position: relative;
    text-align: center;
}
.services .services-content .img::after {
    content: '';
    position: absolute;
    width: 80px;
    height: calc(100% + 4rem);
    background-color: var(--secondary-color);
    top: -2rem;
    right: 0;
    z-index: -1;
}

@media (max-width: 1229px) {
    .img-col {
        display: none;
    }
    
}


/* Start Portfolio */
.portfolio {
    background-color: var(--section-background);
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    gap: 2rem;
    align-items: center;
}

.portfolio .portfolio-content .card {
    background-color: white;
    max-width: 100%;
}

.portfolio .portfolio-content img {
    width: 100%;
    height: 240px;
}

.portfolio .portfolio-content .portfolio-text {
    padding: 1rem;
}

.portfolio .portfolio-content h3{
    margin-bottom: 1rem; 
} 


/* Start About */
.about .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about .about-content img {
    width: 240px;
    height: 240px;
}
.about .about-content .about-img {
    position: relative;
}
.about .about-content .about-img::before {
    content: '';
    position: absolute;
    background-color: var(--section-background);
    width: 80px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
} 
.about .about-content .about-img::after {
    content: '';
    position: absolute;
    top: -20px;
    left: 200px;
    width: 100px;
    height: 60%;
    border-left: 60px solid var(--main-color);
    border-bottom: 60px solid var(--main-color);
    z-index: -1;
}

.about .about-content .about-text {
    flex-basis: calc(100% - 450px);
}

.about .about-content .about-text p:first-of-type {
    font-weight: bold;
    color: black;
    margin-bottom: 3rem;
    margin-top: 1rem;
}
.about .about-content .about-text hr {
    display: inline-block;
    border-color: var(--main-color);
    width: 50%;
}
.about .about-content .about-text p:last-of-type {
    margin-top: 1rem;
}


/* Start Contact */
.contact {
    background-color: var(--section-background);
}

.contact .contact-info {
    padding: 3rem 0;
    text-align: center;
}

.contact .contact-info .label {
    font-weight: 800;
    color: var(--secondary-color);
    font-size: 1.5rem;
}

.contact .contact-info .link {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0;
    color: var(--main-color);
}

.contact .contact-info .social {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.contact .contact-info .social i {
    padding: 5px;
    color: var(--secondary-color);
}


/* Start Footer */
footer {
    position: relative;
    background-color: var(--secondary-color);
    height: 8dvh;
}
footer .footer-content {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1rem;
    translate: -50% -50%;
    color: white;
    white-space: nowrap;
}
footer span {
    color: var(--main-color);
    font-weight: bold;
}




@media (max-width: 768px) {
    .service {
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width: 992px) {
    header {
        padding: 15px 5%;
    }
    section {
        padding: 60px 5%;
    }
    .landing {
        height: 50dvh;
    }
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
    .about .about-content .about-img::before,    
    .about .about-content .about-img::after {
        display: none;
    }
}
@media (min-width: 992px) {
    header {
        padding: 18px 6%;
    }
    section {
        padding: 80px 6%;
    }
    .landing {
        height: calc(100dvh - 61.6px);
    }
    .feature {
        padding: 80px 2%;
    }
    .services .services-content {
        grid-template-columns: repeat(2, minmax(300px, auto));
    }
    .contact .contact-info .label,
    .contact .contact-info .link {
        font-size: 2rem;
    }
}
@media (min-width: 1200px) {
    header {
        padding: 18px 10%;
    }
    section {
        padding: 100px 10%;
    }
    :root {
        --bg-font: 4.5rem;
        --p-font: 1.1rem;
    }
    .feature {
        padding: 100px 2%;
        gap: 3rem;
    }
    .spicial-heading p {
        margin-top: -3rem;
    }
    .services .services-content {
        grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    }

}